div{
    background-color: rgb(58, 46, 168);
}

.card{
    background-color: rgb(62, 68, 82);
    border: 1px solid black;
    width: 30%;
}
ul{
    background-color: antiquewhite;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*h1,h2,h3,h4,h5,h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}*/
